<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AFollestad.MaterialDialogs.Core" version="0.9.6" targetFramework="monoandroid90" />
  <package id="BottomNavigationBar" version="1.4.0.3" targetFramework="monoandroid90" />
  <package id="CryptoCompare" version="1.4.0" targetFramework="monoandroid90" />
  <package id="FAB.XamarinAndroid" version="1.6.4.0" targetFramework="monoandroid90" />
  <package id="Firebase.Xamarin" version="0.3.6" targetFramework="monoandroid90" />
  <package id="Karamunting.Android.JakeWharton.NineOldAndroids" version="2.4.0" targetFramework="monoandroid90" />
  <package id="Karamunting.Android.Lguipeng.BubbleView" version="1.0.1" targetFramework="monoandroid90" />
  <package id="Karamunting.Android.Mauker1.MaterialSearchView" version="1.2.3" targetFramework="monoandroid90" />
  <package id="Karamunting.Android.Yarolegovich.SlidingRootNav" version="1.1.0" targetFramework="monoandroid90" />
  <package id="Naxam.DialogPlus.Droid" version="1.11.0.2" targetFramework="monoandroid90" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="monoandroid90" />
  <package id="PH.Wdullaer.Materialdatetimepicker" version="2.364.0" targetFramework="monoandroid90" />
  <package id="RecyclerViewAnimators" version="2.1.0.0" targetFramework="monoandroid90" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid90" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.1.6" targetFramework="monoandroid90" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid90" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid90" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid90" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid90" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid90" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="monoandroid90" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandroid90" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.14" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.core" version="1.1.14" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.14" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.14" targetFramework="monoandroid90" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="monoandroid90" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid90" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid90" />
  <package id="Syncfusion.Licensing" version="17.2.0.35" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.Buttons.Android" version="17.2.0.35" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator.Android" version="17.2.0.35" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfChart.Android" version="17.2.0.35" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfTabView.Android" version="17.2.0.35" targetFramework="monoandroid90" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="monoandroid90" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="monoandroid90" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid90" />
  <package id="Xam.Plugin.LocalNotifications" version="1.0.0.0" targetFramework="monoandroid90" />
  <package id="Xam.Plugins.Android.FloatingNavigationView" version="1.0.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.1.1.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData" version="1.1.1.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData.Core" version="1.1.1.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.ViewModel" version="1.1.1.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.AsyncLayoutInflater" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Collections" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CoordinaterLayout" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CursorAdapter" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.CustomTabs" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomView" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DocumentFile" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.DrawerLayout" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Interpolator" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Loader" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.LocalBroadcastManager" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Print" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.SlidingPaneLayout" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.SwipeRefreshLayout" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v13" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.Palette" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.VersionedParcelable" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.ViewPager" version="28.0.0.1" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Analytics" version="71.1606.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Analytics.Impl" version="71.1624.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Auth" version="71.1605.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Auth.Interop" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Common" version="71.1610.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Core" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Database" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Database.Collection" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Database.Connection" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Iid" version="71.1710.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Iid.Interop" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Measurement.Connector" version="71.1701.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Firebase.Measurement.Connector.Impl" version="71.1704.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.Google.AutoValue.Annotations" version="1.6.5" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads.Identifier" version="71.1600.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Base" version="71.1610.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Basement" version="71.1620.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Flags" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Measurement.Api" version="71.1604.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Measurement.Base" version="71.1605.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Stats" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="71.1601.0" targetFramework="monoandroid90" requireReinstallation="true" />
  <package id="Xamarin.JazzyViewPager" version="1.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Search.Dialog" version="1.1.1" targetFramework="monoandroid90" />
  <package id="ZhangHai.Android.MaterialProgressBar" version="1.4.2" targetFramework="monoandroid90" />
</packages>